<section id="process">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Organized.</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="sectionHeader">Build Intelligent Assets</h1>
                <span class="sectionHeaderSubtitle">Create data pipelines in just a few clicks.</span>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/lightbulb-multi.svg">
                    <h3>Get Streams from<br>Anywhere</h3>
                    <p class="text-muted">Pull information from websites, APIs, and custom sources.</p>
                </div>
            </div>
            <div class="pbx highlight col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/product-detail-multi.svg">
                    <h3>Store Personalized<br>Collections</h3>
                    <p class="text-muted">Build custom solutions, or import a template. </p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/boxes-network-tape-multi.svg">
                    <h3>Catalog Types <br>& Relationships</h3>
                    <p class="text-muted">Easily map and categorize your items for simplified searching.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/palm-tree-color.svg">
                    <h3>Integrate <br>& Automate</h3>
                    <p class="text-muted">Connect your ERP, Website, and CRM, and relax!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    setInterval(moveHighlight, 3000)

    function moveHighlight() {
        var boxes = document.getElementsByClassName('pbx');

        for ( var i = 0; i < boxes.length; i++ ) {
            var box = boxes[i]
            // console.log('i is', i, 'box is', box)

            if ( box.className.includes('highlight') ) { 
                // console.log('highlight at ', i)
                box.className =  box.className.replace('highlight', '')

                if ( boxes[i + 1] ) {
                    // console.log('boxes i + 1', boxes[i + 1])
                    return boxes[i + 1].className += ' highlight'
                } else {
                    return boxes[0].className += ' highlight'
                }
            }
        }
    }
</script>
